root = true

# 全てのファイル
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Visual Studio ソリューションファイル
[*.sln]
indent_style = tab

# C# プロジェクトファイル
[*.csproj]
indent_size = 2

# XMLファイル
[*.{props,targets,ruleset,config,pubxml}]
indent_size = 2

# JSONファイル
[*.json]
indent_size = 2

# YAMLファイル
[*.yml]
indent_size = 2

# HTML, CSS, SCSSファイル
[*.{html,css,scss}]
indent_size = 2

# Markdownファイル
[*.md]
trim_trailing_whitespace = false

# C#ファイル
[*.{cs,razor,cshtml}]
charset = utf-8-bom
[*.cs]
end_of_line = crlf

# T4テンプレートファイル
[*.tt]
charset = utf-8-bom
end_of_line = crlf

# C# 生成コード
# https://github.com/dotnet/roslyn/issues/54119
[{*Generated,**/Generated/**}.cs]
dotnet_diagnostic.CS1591.severity = none
