# Visual Studio
.vs/
bin/
obj/
*.user

# MSBuild log
*.binlog

# .NET
BenchmarkDotNet.Artifacts/

# Unity
/Assets/*
/Library/
/Logs/
/Temp/
!/Assets/Finphie/
!/Assets/*.meta
Assembly-CSharp*.csproj

# Package File
*.zip
