# C#ファイル（ユニットテストプロジェクト全体）
[*.cs]

## Microsoft.CodeAnalysis.NetAnalyzers ##

# Validate arguments of public methods
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1062
# 理由: 引数を検証する必要はない。
dotnet_diagnostic.CA1062.severity = none

# Initialize reference type static fields inline
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1810
# 理由: 静的コンストラクターを使用しても問題ない。
dotnet_diagnostic.CA1810.severity = none

# C#ユニットテストファイル
[*Test.cs]

## Microsoft.CodeAnalysis.NetAnalyzers ##

# Nested types should not be visible
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1034
# 理由: 入れ子にしたクラスを使いたい。
dotnet_diagnostic.CA1034.severity = none

# Identifiers should not contain underscores
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1707
# 理由: 識別子にアンダースコアを使いたい。
dotnet_diagnostic.CA1707.severity = none

## StyleCop.Analyzers ##

# A C# code element is missing a documentation header.
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1600.md
# 理由: ドキュメンテーションコメントを使用しない。
dotnet_diagnostic.SA1600.severity = none

# A C# partial element is missing a documentation header.
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1601.md
# 理由: ドキュメンテーションコメントを使用しない。
dotnet_diagnostic.SA1601.severity = none

# An item within a C# enumeration is missing an Xml documentation header.
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1602.md
# 理由: ドキュメンテーションコメントを使用しない。
dotnet_diagnostic.SA1602.severity = none
