# C#ファイル（テストプロジェクト全体）
[*.cs]

## Microsoft.CodeAnalysis.NetAnalyzers ##

# パブリック メソッドの引数の検証
# https://learn.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1062
# 理由: 引数を検証する必要はない。
dotnet_diagnostic.CA1062.severity = none

# 安全でないランダム度を使用しません
# https://learn.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca5394
# 理由: 暗号強度の低い擬似乱数ジェネレーターを使用しても問題ない。
dotnet_diagnostic.CA5394.severity = none

# C#テスト関連ファイル
[{*Test,*TestData}.cs]

# 公開されている型またはメンバー 'Type_or_Member' の XML コメントがありません
# https://learn.microsoft.com/dotnet/csharp/language-reference/compiler-messages/cs1591
# 理由: ドキュメンテーションコメントを使用しない。
dotnet_diagnostic.CS1591.severity = none

## StyleCop.Analyzers ##

# A C# code element is missing a documentation header.
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1600.md
# 理由: ドキュメンテーションコメントを使用しない。
dotnet_diagnostic.SA1600.severity = none

# A C# partial element is missing a documentation header.
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1601.md
# 理由: ドキュメンテーションコメントを使用しない。
dotnet_diagnostic.SA1601.severity = none

# An item within a C# enumeration is missing an Xml documentation header.
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1602.md
# 理由: ドキュメンテーションコメントを使用しない。
dotnet_diagnostic.SA1602.severity = none

# C#テストファイル
[*Test.cs]

## 名前付けルール ##

# 非同期メソッド名の末尾にAsync付与を強制しない。
# 理由: Asyncを付ける必要がない。
dotnet_naming_rule.async_methods_should_be_ends_with_async.severity = none

## Microsoft.CodeAnalysis.NetAnalyzers ##

# Consider making public types internal (public 型を internal にすることを検討する)
# https://learn.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1515
# 理由: テストクラスはpublicにする必要がある。
dotnet_diagnostic.CA1515.severity = none

# 識別子はアンダースコアを含むことはできません
# https://learn.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca1707
# 理由: 識別子にアンダースコアを使いたい。
dotnet_diagnostic.CA1707.severity = none

# タスクを直接待機しないでください
# https://learn.microsoft.com/dotnet/fundamentals/code-analysis/quality-rules/ca2007
# 理由: ConfigureAwait(false)を呼び出すと問題が発生する場合がある。
dotnet_diagnostic.CA2007.severity = none

## StyleCop.Analyzers ##

# A C# code file contains more than one unique type.
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1402.md
# 理由: 1ファイルに収めたい場合がある。
dotnet_diagnostic.SA1402.severity = none
