name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions: {}

jobs:
  check:
    name: Check
    uses: finphie/Actions/.github/workflows/get-version.yml@main

  release:
    name: Release
    needs: [check, dotnet]
    if: |
      always() &&
      !cancelled() &&
      (needs.dotnet.result == 'success' || needs.dotnet.result == 'skipped') &&
      needs.check.outputs.release == 'true'
    uses: finphie/Actions/.github/workflows/release.yml@main
    permissions:
      contents: write
      id-token: write
      attestations: write
    with:
      version: ${{ needs.check.outputs.version }}
      tag: ${{ needs.check.outputs.tag }}

  dotnet:
    name: Deploy(.NET)
    needs: check
    if: needs.check.outputs.dotnet == 'true' && needs.check.outputs.version != ''
    uses: finphie/Actions/.github/workflows/deploy-dotnet.yml@main
    with:
      version: ${{ needs.check.outputs.version }}
      release: ${{ needs.check.outputs.release == 'true' }}
      suffix: ${{ needs.check.outputs.tag }}
    secrets:
      AZURE_ARTIFACT_PAT: ${{ secrets.AZURE_ARTIFACT_PAT }}
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

  docker:
    name: Deploy(Docker)
    needs: check
    if: needs.check.outputs.docker == 'true' && needs.check.outputs.release == 'true'
    uses: finphie/Actions/.github/workflows/deploy-docker.yml@main
    permissions:
      packages: write
      id-token: write
      attestations: write
    with:
      version: ${{ needs.check.outputs.version }}
      version-major: ${{ needs.check.outputs.version-major }}
